extends ../main/base

block variables
    -let title = 'catalog'
    -let nav = true;

block content
    .catalog
        .catalog__inner
            .catalog__lost 
                .catalog__lost--image
                    <img src='/images/404.png'>
                .catalog__lost--container
                    .catalog__lost--heading OOPS...
                    .catalog__lost--subheading ФАЙЛ НЕ НАЙДЕН
                    .catalog__lost--text.
                        Возможно он был перемещен либо удален.
                        Воспользуйтесь поиском по MEDIA-каталогу.