extends ../main/base

block variables
    -let title = 'catalog'
    -let nav = true;
    -let cats = true;

block content
    .catalog
        .catalog__cat 
            img(src="/images/list.png", alt="")
            .catalog__cat--current НОВОЕ
        .catalog__inner
            .catalog__nav
                a(href='#').catalog__nav--item.active
                    .catalog__nav--icon
                        <img src='/images/new.svg'>
                    .catalog__nav--text.catalog__nav--text_bold НОВОЕ
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/photo.svg'>
                    .catalog__nav--text.catalog__nav--text_bold  ФОТО
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/video.svg'>
                    .catalog__nav--text ВИДЕО
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/docs.svg'>
                    .catalog__nav--text ДОКУМЕНТЫ
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/other.svg'>
                    .catalog__nav--text ДРУГОЕ
            
            .catalog__main
                .catalog__bread
                    a(href='#').catalog__bread--item Новое
                    .catalog__bread--separator /
                    a(href='#').catalog__bread--item Картинки
                    .catalog__bread--separator /
                    a(href='#').catalog__bread--item Соцсети
                    .catalog__viewtoggles 
                        .catalog__viewtoggles--togglecolumn.active(data-view='column')
                            span 
                            span 
                            span
                        .catalog__viewtoggles--togglerow(data-view='row')
                            span 
                            span 
                            span
                            span
                .catalog__list.column
                    each i in range(2)
                        .catalog__list--item
                            a(href="#").catalog__list--photo
                                <img src='/images/folderbig.svg'>
                            .catalog__list--bottom(onclick="")
                                .catalog__list--name Осеннее спецпедложение
                                .catalog__list--tooltip   Осеннее спецпедложение  Осеннее спецпедложение
                            .catalog__list--download 
                                <img src='/images/types/typefolder.svg'>
                                .catalog__list--downloadlist Открыть
                    each i in range(2)
                        .catalog__list--item
                            a(href="/images/item.png",target="_blank").catalog__list--photo
                                <img src='/images/item.png'>
                            .catalog__list--bottom(onclick="")
                                .catalog__list--name Скушное название фотографии и ее параметры параметры параметры и т.д sdasdasd
                                .catalog__list--tooltip   Осеннее спецпедложение  Осеннее спецпедложение
                            .catalog__list--download 
                                <img src='/images/photo.svg'>
                                .catalog__list--downloadlist Скачать


