extends ../main/base

block variables
	-let title = 'main'

block content
	.main
		.main__top
			.main__top--bg
				<img src='/images/main__bg.png'>
			.main__top--container
				.main__logo
					.main__logo--name
						<img src='/images/logo.svg'>
					.main__logo--heading.
						MEDIA<span>КАТАЛОГ</span>
				.main__content
					.main__content--text.
						<bold>MEDIA</bold>КАТАЛОГ - это удобный способ получить все необходимые файлы для рекламы, продвижения и продажи нашей продукции в интернете или через соцсети. 
						<hr>
						Ознакомьтесь. Скачайте. Используйте!
					a(href='/catalog.html').main__content--action
						.main__content--textlink ПЕРЕЙТИ К КАТАЛОГУ ФАЙЛОВ
						.main__content--linkarrow
							<img src='/images/arrow.svg'>
		.main__inner
			.main__contentinner 
				.main__types
					.main__types--heading Все файлы в одном месте.
					.main__types--text.
						Находите нужные файлы быстро и просто благодаря удобной и понятной сортировке по категориям и типам файлов.
					.main__types--items
						a(href="/catalog.html").main__types--item
							.main__types--icon
								<img src='/images/photo.svg'>
							.main__types--type ФОТО
						a(href="/catalog.html").main__types--item
							.main__types--icon
								<img src='/images/video.svg'>
							.main__types--type ВИДЕО
						a(href="/catalog.html").main__types--item
							.main__types--icon
								<img src='/images/docs.svg'>
							.main__types--type ФАЙЛЫ
				.main__formats
					.main__formats--heading Файлы доступны в исходном формате
					.main__formats--text Скачивайте исходные файлы, редактируйте их, адаптируйте для получения необходимых вам результатов, либо пользуйтесь готовыми и оптимизированными фотографиями, видеозаписями и файлами.
					.main__formats--container
						.main__formats--item
							<img src='/images/jpg.svg'>
						.main__formats--item
							<img src='/images/pdf.svg'>
						.main__formats--item
							<img src='/images/ppt.svg'>
						.main__formats--item
							<img src='/images/zip.svg'>
						.main__formats--item
							<img src='/images/doc.svg'>
						.main__formats--item
							<img src='/images/psd.svg'>
				.main__questions
					.main__questions--container
						.main__questions--heading Появились вопросы?
						.main__questions--text Пишите Нам на электронную почту, и мы ответим на них!
						.main__illustration
							img(src="/images/illustration.png", alt="")
					a(href='mailto:media@choice.ua').main__questions--action media@choice.ua
			.main__illustration
				img(src="/images/illustration.png", alt="")






