extends ../main/base

block variables
    -let title = 'catalog search'
    -let nav = true;

block content
    .catalog
        .catalog__inner
            .catalog__nav
                a(href='#').catalog__nav--item
                    .catalog__nav--icon 
                        <img src='/images/new.svg'>
                    .catalog__nav--text.catalog__nav--text_bold НОВОЕ
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/photo.svg'>
                    .catalog__nav--text.catalog__nav--text_bold  ФОТО
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/video.svg'>
                    .catalog__nav--text ВИДЕО
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/docs.svg'>
                    .catalog__nav--text ДОКУМЕНТЫ
                a(href='#').catalog__nav--item
                    .catalog__nav--icon
                        <img src='/images/other.svg'>
                    .catalog__nav--text ДРУГОЕ
            .catalog__main
                .catalog__search Результаты поиска
                .catalog__list
                    each i in range(3)
                        .catalog__list--item 
                            a(href='#').catalog__list--photo
                                <img src='/images/folderbig.svg'>
                            .catalog__list--bottom(onclick="")
                                .catalog__list--icon
                                    <img src='/images/types/typefolder.svg'>
                                .catalog__list--name Осеннее спецпедложение
                                .catalog__list--tooltip   Осеннее спецпедложение  

                    each i in range(10)
                        .catalog__list--item
                            a(href='#').catalog__list--download
                                <img src='/images/types/download.svg'>
                            a(href='#').catalog__list--photo
                                <img src='/images/item.png'>
                            .catalog__list--bottom(onclick="")
                                .catalog__list--icon
                                    <img src='/images/types/typephoto.svg'>
                                .catalog__list--name Осеннее спецпедложение
                                .catalog__list--tooltip   Осеннее спецпедложение  Осеннее спецпедложение


