.footer
	@include flex(column,flex-start,center,nowrap)
	width: 100%
	background-color: #f8f8f8;
	padding: 35px 30px
	margin-top: auto
	&__
		&partners
			@include flex(row,center,center,nowrap)
			margin-left: auto
			&--
				&item
					margin-right: 30px
					max-height: 35px
					max-width: 80px
					img
						object-fit: contain
						width: 100%
						height: 100%
					&:last-child
						margin-right: 0
		&copy
			color: #353535;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
		&inner
			@include flex(row,space-between,center,nowrap)
			width: 100%
			max-width: 1125px


@media screen and (max-width: 1900px)
	@import '_1280.sass'

@media screen and (max-width: 1280px)
	@import '_1024.sass'

@media screen and (max-width: 1024px)
	@import '_768.sass'

@media screen and (max-width: 768px)
	@import '_320.sass'
