.main
  &__
    &questions
      flex-direction: column
      margin-bottom: 25px
      &--
        &action 
          transform: unset 
          position: static
        &heading 
          width: 50%
        &text 
          width: 50%
        &container
          margin-bottom: 17px
          max-width: unset
          position: relative
          .main__illustration 
            display: flex
            position: absolute
            top: 20px
            right: 20px
            width: 40%
    &formats
      &--
        &container
          height: 35px
          padding: 0 10px
        &item
          width: 35px
          height: 35px
          img
            max-width: 18px;
            max-height: 22px;
    &illustration 
      display: none
    &types
      &--
        &item
          width: 100px
          margin-bottom: 20px
          &:last-child
            margin-bottom: 0
    &inner
      padding: 0 30px
      margin-top: 35px
    &logo
      max-width: 320px
      margin: 0 auto
      &--
        &heading
          transform: scale(.8)
          bottom: -11px;
          right: -40px;
        &name
          max-width: 210px
    &content
      flex-direction: column
      margin-top: 130px
      &--
        &textlink 
          margin-right:  30px
          max-width: unset
        &action
          margin-top: 25px
          background-color: #ffe54b;
          width: 100%
          max-width: unset
    &top
      padding-top: 220px
      padding-bottom: 0
      min-height: unset
      &--
        &container
          padding:  0 30px
        &bg
          max-height:  420px
@media screen and (max-width: 375px)
  .main
    &__
      &content
        margin-top: 100px
      &top
        padding-top: 175px
        &--
          &bg
            max-height: 350px
@media screen and (max-width: 321px) 
  .main 
    &__ 
      &questions 
        &-- 
          &container 
            .main__illustration
              top:  30px
          &text 
            width: 55%
      &types 
        &-- 
          &items 
            flex-direction: space-between
          &item 
            width: 70px
            height: 70px
          &type 
            font-size: 14px
