.main 
	&__ 
		&illustration
			margin: 0 auto
		&inner 
			flex-direction: column
		&contentinner 
			max-width: unset
			width: 100%
		&inner 
			max-width: unset 
			padding: 0 50px
		&top 
			&-- 
				&container 
					padding: 0 50px
					margin-right:  0