.main
	@include flex(column,flex-start,center,nowrap)
	width: 100%
	overflow: hidden
	&__
		&questions
			@include flex(row,space-between,stretch,nowrpa)
			width: 100%
			margin-top: 45px
			.main__illustration
				display: none
			&--
				&action
					@include flex(row,center,center,nowrap)
					border: 2px solid #ffe54b;
					height: 65px
					color: #353535;
					font-family: Montserrat;
					font-size: 19px;
					font-weight: 500;
					line-height: 22px;
					padding: 0 28px
					position: absolute
					left: 50%
					transform: translateX(-50%)
					transition: all .4s
					&::after
						content: ''
						position: absolute
						width: 0
						height: 100%
						background: #ffe54b
						top: 0
						left: 0
						transition: all .4s
						z-index: -1
					&:hover::after
						width: 100%
						transition: all .4s
					&:hover
						color: white
						transition: all .4s
						box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
				&container
					@include flex(column,flex-start,flex-start,nowrap)
					max-width: 280px
					width: 100%
				&text
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
				&heading
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 800
					margin-bottom: 20px;
					line-height: 19px;
		&formats
			@include flex(column,flex-start,flex-start,nowrap)
			width: 100%
			margin-top: 40px
			&--
				&item
					@include flex(row,center,center,nowrap)
					width: 76px;
					height: 76px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
					background-color: #ffffff;
					border-radius: 50%
					img
						max-width: 40px
						max-height: 48px
						object-fit: contain
				&container
					@include flex(row,space-between,center,nowrap)
					padding: 0 25px
					width: 100%
					height: 76px
					margin-top: 40px
					position: relative
					display: none!important
					&::before
						content: ''
						position: absolute
						left: 0
						top: 50%
						transform: translateY(-50%)
						width: 100%
						height: 8px;
						box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
						background-color: #ffe54b;
						z-index: -1
				&heading
					color: #353535;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 800;
					line-height: 19px;
					margin-bottom: 18px
				&text
					color: #353535;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
					max-width: 400px
		&types
			@include flex(column,flex-start,flex-start,nowrap)
			width: 100%
			&--
				&items
					@include flex(row,flex-start,flex-start,nowrap)
					width: 100%
					margin-top: 45px
				&icon
					width: 20px
					height: 20px
					margin-bottom: 10px
					img
						width: 100%
						height: 100%
						object-fit: contain
				&type
					color: #353535;
					font-family: Montserrat;
					font-size: 17px;
					font-weight: 700;
					line-height: 20px;
				&item
					@include flex(column,center,center,nowrap)
					max-width: 228px;
					width: 100px
					height: 100px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
					background-color: #ffe54b;
					cursor: pointer
					transition: all .4s
					margin-right: 20px
					&:last-child 
						margin-right:  0
					&:hover 
						transition: all .4s
						box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
				&heading
					color: #353535;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 800;
					line-height: 19px;
					margin-bottom: 18px
				&text
					color: #353535;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					max-width: 350px
					line-height: 19px;
		&contentinner 
			@include flex(column,flex-start,flex-start,nowrap)
			width: 60%
		&illustration 
			@include flex(row,center,center,nowrap)
			width: 35%
			margin-top: auto
			margin-left: auto 
			img 
				width: 100%
				max-height: 260px
				height: 100%
				object-fit: contain
		&inner
			@include flex(row,flex-start,flex-end,nowrap)
			width: 100%
			max-width: calc(100% - 240px)
			margin-top: 70px
			padding-bottom: 35px
		&content
			@include flex(row,space-between,center,nowrap)
			width: 100%
			margin-top: 80px
			&--
				&linkarrow
					max-width: 43px;
					max-height: 18px;
					img
						width: 100%
						height: 100%
						object-fit: contain
				&textlink
					color: #353535;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 500;
					line-height: 20px;
					max-width: 120px
					text-align: left
					margin-right: auto
				&action
					@include flex(row,center,center,nowrap)
					max-width: 256px;
					width: 100%
					min-height: 104px;
					box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
					background-color: #ffffff;
					padding: 0 35px
					transition: all .4s
					&:hover
						box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
						transition: all .4s
				&text
					color: #353535;
					font-family: Montserrat;
					font-size: 14px;
					font-weight: 400;
					line-height: 1.5
					max-width: 460px
					width: 100%
					bold
						font-weight: 800
					hr
						content: ''
						outline: none
						background: transparent
						border: none
		&logo
			@include flex(row,flex-start,flex-end,nowrap)
			width: 100%
			max-width: 490px
			height: 100px
			position: relative
			&--
				&heading
					bottom: -24px
					right: 5px
					position: absolute
					color: #353535;
					font-family: Montserrat;
					text-transform: uppercase;
					font-size: 34px;
					font-weight: 700;
					line-height: 1
					span
						font-family: Montserrat
						font-size: 20px;
						font-weight: 400;
						line-height: 1
				&name
					@include flex(row,flex-start,center,nowrap)
					width: 330px
					height: 65px
					img
						width: 100%
						height: 100%
						object-fit: contain
		&top
			@include flex(column,flex-start,center,nowrap)
			width: 100%
			min-height: 820px
			position: relative
			padding-top: 450px
			padding-bottom: 55px
			&--
				&container
					@include flex(column,flex-start,flex-start,nowrap)
					width: 100%
					max-width: 1000px
					position: relative
					margin-right: auto
					padding-left: 120px
					z-index: 2
				&bg
					position: absolute
					width: 100%
					height: 100%
					top: 0
					left: 0
					user-select: none
					z-index: 1
					img
						width: 100%
						height: 100%
						object-fit: cover
						user-select: none

@media screen and (max-width: 1900px)
	@import '_1280.sass'

@media screen and (max-width: 1280px)
	@import '_1024.sass'

@media screen and (max-width: 1024px)
	@import '_768.sass'

@media screen and (max-width: 768px)
	@import '_320.sass'
