.footer
    .footer__inner
        .footer__copy Choice © 2004 - 2019
        .footer__partners
            a(href='#').footer__partners--item
                <img src='/images/f1.svg'>
            a(href='#').footer__partners--item
                <img src='/images/f2.svg'>
            a(href='#').footer__partners--item
                <img src='/images/f3.svg'>
            a(href='#').footer__partners--item
                <img src='/images/f4.svg'>