title #{name} - #{(title ? title : "Page")}
meta(charset='utf-8')
meta(name='keywords')
meta(name='description')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel='shortcut icon' href='favicon.ico')
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
include styles
include scripts