.nav
  padding: 0 30px
  height: 130px
  overflow: hidden
  form
    width: auto
  &__
    &search
      width: auto
      margin-left: auto
      position: relative

      &.active
        input
          transition: all .3s
          transform: translateY(0)
          opacity: 1
        .nav__search--action img
          &:nth-child(1)
            display: none
          &:nth-child(2)
            display: flex

      input
        position: absolute
        right: 100%
        transition: all .3s
        width: 220px
        border-radius: 0
        background:  #ffe54b
        padding: 20px 0
        opacity: 0
        transform: translateY(-200px)
    &logo
      width: 213px
      transition: all .4s
      &.hidden
        opacity: 0
        transform: translateX(-50%)
        transition: all .4s
      &--
        &heading
          transform: scale(.65)
          right: -75px
        &name
          width: 143px;
          height: 28px;

@media screen and (max-width: 325px)
  .nav
    padding: 0 15px
    &__
      &logo
        &--
          &heading