.nav
	@include flex(column,flex-start,center,nowrap)
	width: 100%
	height: 180px
	background: #ffe54b
	padding: 0 30px
	position: relative
	form 
		width: 100% 
		max-width: 240px
	&__
		
		&search
			@include flex(row,flex-start,center,nowrap)
			margin-left: auto
			width: 100%
			max-width: 240px
			&--
				&action
					@include flex(row,center,center,nowrap)
					cursor: pointer
					width: 24px;
					height: 24px;
					margin-left: 10px
					img
						width: 100%
						height: 100%
						object-fit: contain
						&:nth-child(2)
							display: none
			input
				border: none
				outline: none
				background-color: transparent
				color: #353535;
				width: calc(100% - 25px)
				font-family: Montserrat;
				font-size: 12px;
				font-weight: 400;
				line-height: 14px;
				height: 15px
				padding-bottom: 5px
				transition: all .4s
				&:focus
					border-bottom: 1px solid #353535
					transition: all .4s
				&::placeholder
					color: #353535;
					font-family: Montserrat;
					font-size: 12px;
					font-weight: 400;
					line-height: 14px;
		&logo
			@include flex(row,flex-start,flex-end,nowrap)
			width: 100%
			max-width: 490px
			height: auto
			position: relative
			&--
				&heading
					bottom: -24px
					right: 5px
					position: absolute
					color: #353535;
					font-family: Montserrat;
					text-transform: uppercase;
					font-size: 34px;
					font-weight: 700;
					line-height: 1
					span
						font-family: Montserrat
						font-size: 20px;
						font-weight: 400;
						line-height: 1
				&name
					@include flex(row,flex-start,center,nowrap)
					width: 330px
					height: 65px
					img
						width: 100%
						height: 100%
						object-fit: contain
						
		&inner
			@include flex(row,space-between,center,nowrap)
			max-width: 1215px
			width: 100%
			padding-top: 50px

@media screen and (max-width: 1900px)
	@import '_1280.sass'

@media screen and (max-width: 1280px)
	@import '_1024.sass'

@media screen and (max-width: 1024px)
	@import '_768.sass'

@media screen and (max-width: 768px)
	@import '_320.sass'
