include ../config/config
include ../mixins/index
include ../functions/index

block variables

doctype html
html(lang=lang)
	head
		include ../includes/base/head
	body
		if nav
			.nav
				.nav__inner
					a(href='/').nav__logo
						.nav__logo--name
							<img src='/images/logo.svg'>
							
						.nav__logo--heading.
							MEDIA<span>КАТАЛОГ</span>
					.nav__search
						input(type='text',placeholder='ПОИСК ПО МЕДИАКАТАЛОГУ')
						.nav__search--action
							<img src='/images/search.svg'>
							img(src="/images/close.svg", alt="")

		block content
		include ../includes/base/footer