.catalog
  padding: 0 30px
  &__
    &viewtoggles 
      display: none
    &cat 
      @include flex(row,flex-start,center,nowrap)
      transition: all .4s
      opacity: 1 
      width: 100%
      height:  auto
      &-- 
        &current 
          font-weight: bold
      img 
        width: 30px
        height:  30px
        object-fit: contain
        margin-right:  10px
      &:active 
        opacity: 1
        transition: all .4s
    &list 
      &-- 
        &bottom 
          padding: 0 10px
        &item 
          width: calc(50% - 18px)
          margin-bottom:  35px
          max-width: unset 
          min-width: unset
          margin-right:  35px
          &:nth-child(2n)
            margin-right:  0
    &main 
      width: 100%
      padding-left:  0
    &inner 
      position: relative
    &nav 
      position: absolute
      width: 100%
      max-width: unset
      z-index: 4
      height:  100%
      padding-right:  0
      border-right: unset
      background: white 
      top: 0
      left: 0 
      transform: translateX(-150%)
      opacity: 0
      transition: all .4s
      &.active 
        opacity: 1
        transform: translateX(0)
        transition: all .4s
        .catalog__nav--item 
          opacity: 1
          transform: translateY(0)
          transition: all .4s
          @for $i from 1 through 6
            &:nth-child(#{$i})
              transition-delay: $i*100ms
      &-- 
        &item 
          opacity: 0
          transition: all .4s
          transform: translateY(-20px)
    &lost
      height: auto
      padding: 0 30px
      margin-top: 20px
      margin-bottom: 20px
      @include flex(column,flex-start,center,nowrap)
      &--
        &container
          width: 100%
        &heading
          font-size: 71px
        &image
          width: 234px;
          height: 269px;
@media screen and (max-width:375px)
  .catalog 
    padding: 0 30px
    &__ 
      &lost 
        padding: 0 10px
@media screen and (max-width: 325px)
  .catalog 
    padding: 0 10px
  .catalog__list--item 
    width: calc(50% - 8px)
  .catalog__list--item 
    margin-right:  15px