.catalog
	@include flex(column,flex-start,center,nowrap)
	width: 100%
	margin-top: 20px
	margin-bottom: 40px
	padding: 0 30px
	&__
		&cat 
			width: 30px
			height:  30px
			margin-bottom:  20px
			margin-right:  auto
			display: none
			img 
				width: 100%
				height:  100%
				object-fit: contain
				
		&lost
			@include flex(row,flex-start,flex-end,nowrap)
			width: 100%
			max-width: 750px
			height: 380px
			margin: 60px auto
			&--
				&text
					font-family: "Montserrat";
					font-size: 14px;
					font-weight: 400;
					line-height: 16px;
					line-height: 1.5
				&subheading
					font-family: Montserrat;
					font-size: 20px;
					font-weight: 400;
					line-height: 23px;
					margin-top: 22px
					margin-bottom: 50px
				&container
					@include flex(column,flex-start,flex-start,nowrap)
					width: calc(100% - 320px)
					margin: auto 0
				&heading
					font-family: Montserrat;
					font-style: normal;
					font-weight: bold;
					line-height: normal;
					font-size: 100px;
					color: #FFE54B;
				&image
					max-width: 320px
					height: 100%
					img
						width: 100%
						height: 100%
						object-fit: contain
		&search
			color: #353535;
			font-family: Montserrat;
			font-size: 17px;
			font-weight: 700;
			line-height: 20px;
		&viewtoggles 
			@include flex(row,center,center,nowrap)
			margin-left: auto
			cursor: pointer
			&-- 
				&togglerow 
					@include flex(row,space-between,space-between,wrap)
					background: #E5E5E5;
					width: 25px
					height: 25px
					padding: 6px
					margin-left:  6px
					span 
						width: 6px
						margin-bottom: 2px
						height: 6px
						background: black

					&.active 
						background: #FFE54B;
				&togglecolumn
					@include flex(column,space-between,center,nowrap)
					background: #E5E5E5;
					width: 25px
					height: 25px
					padding: 6px
					span 
						width: 100%
						height: 2px
						background: black

					&.active 
						background: #FFE54B;

		&list
			display: grid;
			grid-template-columns: auto auto auto auto auto;
			grid-column-gap: 20px;
			justify-items: stretch;
			justify-content: space-between
			align-items: stretch;
			width: 100%
			margin-top: 20px
			position: relative
			&.justify
				justify-content: flex-start
			&.column
				display: flex
				flex-direction: column
				.catalog__list--name
					white-space: nowrap
					overflow: hidden
					display: block 
					text-overflow: ellipsis
				.catalog__list--bottom 
					margin: 0
					max-width: calc(100% - 240px)
				.catalog__list--tooltip 
					display: none
				.catalog__list--download 
					max-width: 160px
					min-width: 160px
					margin-left: auto
				.catalog__list--item 
					width: 100%
					flex-direction: row
					max-width: unset
					margin-bottom: 15px
				.catalog__list--photo 
					max-width: 80px
					max-height: 50px
					margin-right: 20px
			&--
			
				&download
					@include flex(row,flex-start,center,nowrap)
					width: 100%
					transition: all .3s
					height: 50px
					padding: 0 16px
					cursor: pointer
					background: #DDDDDD
					&:hover 
						background: #C5C5C5;
					img 
						width: 16px;
						margin-right: 15px
						height: 16px;
						object-fit: contain
				&downloadlist 
					font-family: Montserrat;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: #353535;
				&name
					color: black
					font-family: Montserrat;
					font-size: 12px;
					font-weight: 300;
					line-height: 15px;
					width: 100%
					margin: 10px 0
					overflow: hidden
					display: flex
					flex-wrap: no-wrap
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
				&icon
					width: 15px;
					height: 15px;
					margin-right: 10px
					img
						width: 100%
						height: 100%
						object-fit: contain
				&photo
					@include flex(row,center,center,nowrap)
					width: 100%
					height: 110px
					img
						width: 100% 
						max-width: 160px
						height: 100%
						object-fit: contain
				&bottom
					@include flex(row,flex-start,center,nowrap)
					width: 100%
					height: 50px
					background: #F8F8F8
					margin-top: auto
					padding: 0 16px
					margin: 10px 0
					cursor: default
					position: relative
					// z-index: 2
					&:hover  .catalog__list--tooltip 
						opacity: 1
						transform: translateY(5px) scaleY(1)
						transition: all .4s
					&:active  .catalog__list--tooltip 
						opacity: 1
						transform: translateY(5px) scaleY(1)
						transition: all .4s
				&item
					@include flex(column,flex-start,center,nowrap)
					width: 160px
					max-width: 160px
					min-width: 160px
					margin-bottom: 30px
					background: #F6F6F6
					position: relative
				&tooltip 
					@include flex(row,center,center,nowrap)
					position: absolute
					display: none!important
					top: 100%
					transform-origin: top
					transform: translateY(5px) scaleY(0)
					left:  0
					width: 100%
					padding: 5px
					background: #FFE54B
					z-index: 15
					color: #353535;
					text-align: left
					word-break: break-word
					font-family: Montserrat;
					font-size: 12px;
					font-weight: 500;
					opacity: 0
					line-height: 15px;
					transition: all .4s
					box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
					&::after 
						content: ''
						position: absolute
						top:  -5px
						left:  50%
						transform: translateX(-50%)
						width: 0px;
						height: 0px;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-bottom: 7px solid  #FFE54B;
		&bread
			@include flex(row,flex-start,center,wrap)
			width: 100%
			&--
				&item
					color: #353535;
					font-family: Montserrat;
					font-size: 17px;
					font-weight: 700;
					line-height: 20px;
					margin: 5px 0
					&:hover
						text-decoration: underline
				&separator
					color: #353535;
					font-family: Montserrat;
					font-size: 17px;
					font-weight: 700;
					line-height: 20px;
					margin: 0 10px
		&main
			@include flex(column,flex-start,flex-start,nowrap)
			width: calc(100% - 250px)
			padding-left: 20px
		&nav
			@include flex(column,flex-start,flex-start,nowrap)
			width: 100%
			max-width: 250px
			padding-right: 20px
			border-right:  2px solid #E5E5E5
			padding-bottom: 20px
			&--
				&icon
					max-width: 20px;
					max-height: 16px;
					margin-right: 22px
					img
						width: 100%
						height: 100%
						object-fit: contain
				&text
					color: #353535;
					font-family: Montserrat;
					font-size: 17px;
					font-weight: 400;
					line-height: 20px;
					&_bold
						font-weight: 800
				&item
					@include flex(row,flex-start,center,nowrap)
					padding: 0 25px
					height: 65px
					background:  #f8f8f8;
					width: 100%
					cursor: pointer
					margin-bottom: 20px
					transition: all .3s
					&:hover
						transition: all .3s
						box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
					&:last-child
						margin-bottom: 0
					&.active
						box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
						background-color: #ffe54b;
						&:hover
							transition: all .3s
							box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
		&inner
			@include flex(row,flex-start,stretch,nowrap)
			width: 100%
			max-width: 1215px
.catalog
	& ~ .footer .footer__inner
		max-width: 1215px
@media screen and (max-width: 1900px)
	@import '_1280.sass'

@media screen and (max-width: 1280px)
	@import '_1024.sass'

@media screen and (max-width: 1024px)
	@import '_768.sass'

@media screen and (max-width: 768px)
	@import '_320.sass'
